<button
  id={{itemId}}
  class="bg-[url(https://telegra.ph/file/ac0ba1d044f026c1831c8.png)] bg-cover p-4 flex flex-col h-44 md:focus:col-span-2 md:focus:row-span-2 focus:h-[22rem]"
>
  <div class="text-lg text-white font-bold">Title of the card {{title}}</div>
  <div class="text-gray-300">Short description text</div>
</button>