<div class="flex flex-col flex-wrap mt-3 md:grid md:grid-cols-[repeat(var(--repeat,auto-fit),minmax(200px,1fr))] md:grid-rows-5 md:m-3 ">
       {{#each posts}}
            {{>card this}}
       {{/each}}
</div>