<footer class="fixed bottom-0 p-3 flex justify-center font-extrabold w-full">
  <div
    id="time-to-load"
    class="text-lg text-white font-bold bg-black/[0.25] rounded-lg px-2"
  >{{serverLoad}}
    ms (server)</div>
</footer>