<header class="header">
  <div class="header__logo">ideas</div>
  <nav class="header__nav">
    <div class="header__right-block">
      {{#if loggedIn}}
        <div>profile</div>
      {{else}}
        <div>login</div>
      {{/if}}
    </div>
  </nav>
</header>