<header class="flex justify-between p-2 text-2xl">
  <h2 class="btn text-3xl">ideas</h2>
  <nav class="">
    <div class="btn text-2xl m-1">
      {{#if loggedIn}}
        profile
      {{else}}
        login
      {{/if}}
    </div>
  </nav>
</header>