<html>
  {{> head}}
  <body class=" font-gemunu">
    {{> header user=user pageType="MAIN"}}
    <div class="text-center text-4xl m-3">themes of the week:</div>
    <div class="flex flex-row justify-evenly my-5 text-2xl font-semibold">
      <div>First Title</div>
      <div>Second Title</div>
      <div>Third Title</div>
    </div>
    <div class="text-center text-2xl mb-2">the most recent posts:</div>
    {{!-- cards menu --}}
    {{>cardsGrid posts=posts}}
    <div class="flex justify-center text-2xl h-24">
      ideas is a platfor for your themed Telegraph posts.
    </div>
    {{> footer}}
  </body>
  
</html>