<html>
    {{> head}}
    <body>
        {{> header loggedIn=false}}
        {{> headerEditor }}
        <article class="prose lg:prose-xl">
            <div id="editorjs"></div>
        </article>
        <script src="js/postEditor.js"></script>
        
        
    </body>
</html>